@model List<AppRole>
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3>Roller</h3>
<hr />


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <form asp-route-id="@item.Id" asp-action="RoleDelete" method="post">
                        <button class="btn btn-info" type="submit">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>
<a asp-action="RoleCreate" class="btn btn-info">Role Oluştur</a>